<div class="flex flex-column h-full gap-2">
    <p-card [formGroup]="form"  header="Produtos">
        <div class="flex gap-2">
            <div class="field">
                <label>Cód. Produto</label>
                <p-inputNumber formControlName="id" mode="decimal" [maxlength]="9" />
            </div>
            <div class="field w-full">
                <label>Descrição</label>
                <input formControlName="descricao" pInputText />
            </div>
            <div class="field">
                <label>Preço Compra</label>
                <p-inputNumber formControlName="precoCompra" mode="currency" [useGrouping]="false" currency="BRL"
                    locale="pt-BR" />
            </div>
            <div class="field">
                <label>Preço Venda</label>
                <p-inputNumber formControlName="precoVenda" mode="currency" [useGrouping]="false" currency="BRL"
                    locale="pt-BR" />
            </div>
        </div>
    </p-card>
    <div class="flex justify-content-end gap-2">
        <button class="mb-2" pButton icon="pi pi-search" (click)="getList()"></button>
        <button class="mb-2" pButton icon="pi pi-plus" (click)="showFrm()"></button>
    </div>

    <p-card class="flex-1  w-full">
        <p-table [value]="products" [responsiveLayout]="'scroll'" selectionMode="single" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cód. Produto</th>
                    <th>Descrição</th>
                    <th>Preço Compra</th>
                    <th>Preço Venda</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr [pSelectableRow]="product" (dblclick)="doubleClickRow(product)">
                    <td>{{ product.id }}</td>
                    <td>{{ product.descricao }}</td>
                    <td>{{ product.precoCompra }}</td>
                    <td>{{ product.precoVenda }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>