<div class="flex gap-2">

    <div class="flex-1 w-full p-2 gap-2 border-200 border-3 border-round surface-overlay" [formGroup]="form">

        <div class="flex gap-2">
            <div class="field">
                <label>Cód. Produto</label>
                <p-inputNumber formControlName="id" mode="decimal" [maxlength]="9"  cmpDisableListener [disableValue]="true"/>
            </div>

            <div class="field w-full">
                <label>Descrição</label>
                <input pInputText  formControlName="descricao" cmpDisableListener [disableValue]="!enable"/>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="field">
                <label>Preço Compra</label>
                <p-inputNumber mode="currency"  formControlName="precoCompra"   [useGrouping]="false" currency="BRL" locale="pt-BR"  cmpDisableListener [disableValue]="!enable"/>
            </div>
            <div class="field">
                <label>Preço Venda</label>
                <p-inputNumber mode="currency" formControlName="precoVenda"    [useGrouping]="false" currency="BRL" locale="pt-BR" cmpDisableListener [disableValue]="!enable"/>
            </div>
        </div>

    </div>
    <div class="gap-2 p-3 border-200 border-3 border-round surface-overlay">
        <div class="mb-2">
            <button class="w-full" pButton label="Novo" icon="pi pi-plus" [disabled]="enable"></button>

        </div>
        <div class="mb-5">
            <button class=" w-full" pButton label="Alterar" icon="pi pi-pencil" (click)="alterar()" [disabled]="enable"></button>

        </div>
        <div class="mb-2">
            <button class=" w-full" pButton label="Salvar" icon="pi pi-check" [disabled]="!enable" (click)="salvar()"></button>

        </div>
        <div class="mb-6">
            <button class="w-full" pButton label="Cancelar" icon="pi pi-times" (click)="cancelar()"  [disabled]="!enable"></button>

        </div>
        <div class="mb-6">
            <button class="w-full p-button-danger" pButton label="Apagar" icon="pi pi-trash"  [disabled]="enable"></button>

        </div>
      
        <div>
            <button class="w-full" pButton label="Fechar" icon="pi pi-times-circle" (click)="close()"  [disabled]="enable"></button>

        </div>

    </div>
</div>