<div class="flex flex-column h-full gap-3">
    <div class="flex-1">

        <p-tabView [formGroup]="form">
            <p-tabPanel header="Dados Básicos" formGroupName= "produto">
                <ng-template pTemplate="content">
                    <div class="flex gap-2">
                        <div class="field">
                            <label>Cód. Produto</label>
                            <p-inputNumber formControlName="id" mode="decimal" [maxlength]="9" cmpDisableListener
                                [disableValue]="true"  />
                        </div>
                        <div class="field ">
                            <label>Data Cadastro</label>
                            <p-calendar formControlName="dataCadastro" [showIcon]="true" cmpDisableListener
                                [disableValue]="true"></p-calendar>
                        </div>

                        <div class="field w-full">
                            <label>Descrição</label>
                            <input pInputText formControlName="descricao" />
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <div class="field">
                            <label>Preço Compra</label>
                            <p-inputNumber mode="currency" formControlName="precoCompra" [useGrouping]="false"
                                currency="BRL" locale="pt-BR" cmpDisableListener />
                        </div>
                        <div class="field">
                            <label>Preço Venda</label>
                            <div>
                                <p-inputNumber mode="currency" formControlName="precoVenda" [useGrouping]="false"
                                currency="BRL" locale="pt-BR" cmpDisableListener />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Imagem">
                <ng-template pTemplate="content">
                    <div class="field w-full">
                        <label>Link</label>
                        <div class="flex gap-2" >
                            <input #link class="w-full" pInputText  />
                            <button pButton icon="pi pi-minus" (click)="removeImage()" title="Cancelar"></button>
                            <button pButton icon="pi pi-plus"  (click)="addImage(link.textContent)"></button>
                        </div>
                    </div>
                    <p-galleria [value]="this.form.controls.imagens.getRawValue()" [showItemNavigators]="true" [circular]="true" 
                    [showIndicators]="true" [showThumbnails]="false" >
                        <ng-template pTemplate="item" let-item >
                            <img [src]="item.itemImageSrc" style="width: 200px; display: block; height: 230px;" />
                        </ng-template>
                    </p-galleria>
                </ng-template>
            </p-tabPanel>
        </p-tabView>

    </div>
    <div class="flex justify-content-end align-items-center gap-2">
        <button pButton class="p-button-danger" icon="pi pi-trash" [disabled]="novo" title="Apagar"
            (click)="apagar()"></button>
        <button pButton icon="pi pi-times" (click)="cancelar()" title="Cancelar"></button>
        <button pButton icon="pi pi-check" [disabled]="!form.valid" title="Salvar" (click)="salvar()"></button>
    </div>
</div>